# Eda

Me enfocaré en la realización del eda, luego agregamos la introducción, razón del mismo etc. Procuraré documentar cada paso que haga dentro de este

### Librerías a usar:

In [1]:
import pandas as pd
import matplotlib as plt

## USA

### Creación del dataframe a analizar:

In [2]:
df = pd.read_csv('src/data/usa_dataset.csv')

### Comienzo del analisis:

Se comenzará el analisis del dataframe de USA, observando los metadatos del mismo, para proseguir con una analisis más especifico sobre sus columnas.

In [3]:
df.shape

(11397, 22)

El dataframe contiene 22 columnas y 11397 filas.

In [4]:
df.columns

Index(['time', 'latitude', 'longitude', 'depth', 'mag', 'magType', 'nst',
       'gap', 'dmin', 'rms', 'net', 'id', 'updated', 'place', 'type',
       'horizontalError', 'depthError', 'magError', 'magNst', 'status',
       'locationSource', 'magSource'],
      dtype='object')

El nombre de las columnas son:

- time
- latitude
- longitude
- depth
- mag
- magType
- ns    
- gap
- dmin
- rms
- net
- id
- updated
- place
- typ
- horizontalError
- depthError
- magError
- magNst
- status
- locationSource
- magSource

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11397 entries, 0 to 11396
Data columns (total 22 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   time             11397 non-null  object
 1   latitude         11397 non-null  float64
 2   longitude        11397 non-null  float64
 3   depth            11397 non-null  float64
 4   mag              11397 non-null  float64
 5   magType          11397 non-null  object
 6   nst              8350 non-null   float64
 7   gap              8350 non-null   float64
 8   dmin             6017 non-null   float64
 9   rms              11397 non-null  float64
 10  net              11397 non-null  object
 11  id               11397 non-null  object
 12  updated          11397 non-null  object
 13  place            10898 non-null  object
 14  type             11397 non-null  object
 15  horizontalError  7647 non-null   float64
 16  depthError       11397 non-null  float64
 17  magError         8329 non-null   float64
 18  magNst           8339 non-null   float64
 19  status           11397 non-null  object
 20  locationSource   11397 non-null  object
 21  magSource        11397 non-null  object
dtypes: float64(12), object(10)
memory usage: 1.9+ MB

Las columnas del dataframe tienen distintos tipos de datos, por lo que se pueden categorizar las columnas por el tipo de datos que contengan.

Columnas tipo object( columnas que muy probablemente tengan datos del tipo string o de texto ):

- time
- magType
- net
- id
- updated
- place
- type
- status
- locationSource
- magSource

Columnas tipo float( columnas con datos numericos decimales ):

- latitude
- longitude
- depth
- mag
- nst
- gap
- dmin
- rms
- horizontalError
- depthError
- magError
- magNst

Se analizará primero las columnas con datos de tipo string(texto), para continuar posteriormente con las de tipo numerico.

#### Columnas de tipo string

Antes de empezar el analisis de cada columna, es necesario entender a qué hace referencia cada columna, y nombrarlas con nombres más faciles de entender. Observemos de forma general el contenido del dataframe en busca de darle un mejor nombre a las columnas por su contenido.

In [10]:
df.select_dtypes(include=['object']).head()

,time,magType,net,id,updated,place,type,status,locationSource,magSource
0,2023-06-28T18:11:31.608Z,ml,nn,nn00861894,2023-06-28T18:13:37.477Z,"21 km WSW of Indian Springs, Nevada",earthquake,automatic,nn,nn
1,2023-06-28T18:04:05.510Z,md,nc,nc73906411,2023-06-28T18:05:38.817Z,"7km WNW of Cobb, CA",earthquake,automatic,nc,nc
2,2023-06-28T17:39:57.380Z,md,nc,nc73906406,2023-06-28T17:58:14.272Z,"9km WNW of Cobb, CA",earthquake,automatic,nc,nc
3,2023-06-28T17:37:18.132Z,ml,ak,ak02388bjgkl,2023-06-28T17:38:38.745Z,"79 km SSE of King Salmon, Alaska",earthquake,automatic,ak,ak
4,2023-06-28T17:28:28.710Z,md,nc,nc73906396,2023-06-28T17:48:16.079Z,"8km NW of The Geysers, CA",earthquake,automatic,nc,nc

- La columna time, hace referencia a la fecha en la que se tomó la medida del terremoto, se cambiará su nombre a "fecha". Como esta columna contiene fechas, se cambiara su tipo de dato de "object" a "date_time" para mejorar el analisis
- La columna magType, hace referencia al tipo de magnitud registrada, la clasificación de las mismas se puede encontrar en este --> [link](https://www.usgs.gov/programs/earthquake-hazards/magnitude-types) <--, se cambiará su nombre a tipo_de_magnitud
- La columna net, hace referencia a la "Network" o red sismologica que detecto el evento,